
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    height: 30px;
}

.footerLogo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.footerLink {
    text-decoration: none;
}